#container {
  cursor: default;
  color: #4e4e4e;
  font-family: Verdana, Geneva, sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  ul {
    //отступы списка
    padding:0;
    li {
      //выключить блочность
      display: inline;
      i {
        //убрать курсив
        font-style: normal;
      }
    }
  }
}
