@charset "UTF-8";
#fix {
  color: cyan; }

/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/
#description {
  cursor: default;
  overflow: hidden;
  color: #4e4e4e;
  font-family: Verdana, Geneva, sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  margin-bottom: 30px; }
  #description ::selection {
    background: #c3c3c3;
    color: black; }
  #description b {
    font-size: 14px;
    background: tomato;
    color: white;
    padding: 5px 8px;
    margin-top: -30px;
    margin-left: -40px;
    position: absolute;
    cursor: pointer;
    transition: all 70ms; }
    #description b::selection {
      background: none;
      color: white; }
    #description b:hover {
      box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.71);
      margin-left: -42px;
      margin-top: -31px; }
    #description b:after {
      content: "";
      width: 40px;
      height: 10px;
      box-shadow: 0 0 12px 6px black;
      display: block;
      position: absolute;
      left: 9px;
      top: 12px;
      z-index: -1; }
    #description b:before {
      content: "";
      display: block;
      position: absolute;
      left: 0px;
      top: 26.7px;
      width: 0px;
      height: 0px;
      border-bottom: 24px solid transparent;
      border-right: 20px solid #fb5b3e;
      z-index: -2; }
  #description p {
    cursor: default;
    padding-top: 26px;
    margin: 9px 0;
    /*     line-height: 0px; */
    /*
       line-height: 26px;
      /**/ }
    #description p:hover .zakl {
      width: 13px;
      transition: all 0.3s 0.5s;
      opacity: 1; }
    #description p .zakl {
      overflow: hidden;
      background: green;
      display: block;
      position: fixed;
      position: absolute;
      width: 4px;
      margin-top: 4px;
      height: 20px;
      right: 100%;
      z-index: 0;
      background-image: url(../image/lenta.png);
      transition: all 0.4s 0.6s;
      opacity: 0; }
      #description p .zakl:hover {
        width: 30px;
        transition: all 0.17s 0.0s; }
  #description .box {
    /*один блок строки*/
    border: 1px solid;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 3px;
    line-height: 17px;
    height: 16px;
    display: inline-block;
    margin: 2px 2px 2px 1px; }
    #description .box:after {
      content: " ";
      width: 0;
      display: inline-block;
      height: 30px;
      height: 100%;
      padding: 3px 0;
      margin-top: -3px; }
    #description .box i {
      font-style: normal;
      border-right: 1px solid;
      padding: 0 5px 0 2px; }
  #description *:not(.box) > i {
    opacity: 0;
    display: inline-block;
    width: 1px; }
  #description .star {
    background: url(../image/raport3_1.png) no-repeat;
    transition: all 400ms;
    transform: rotate(0deg); }
    #description .star:hover, #description .star.act {
      transform: rotate(360deg); }
  #description .star2 {
    opacity: 0.6;
    background: url(../image/raport3_4.png) no-repeat;
    transition: all 400ms;
    transform: rotate(0deg); }
    #description .star2:hover {
      transform: rotate(360deg);
      background-image: url(../image/raport3_1.png);
      opacity: 1; }
  #description .star,
  #description .star2 {
    cursor: pointer;
    color: transparent;
    display: inline-block;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    margin-right: 2px;
    position: relative;
    background-size: cover;
    margin-bottom: -10px;
    background-size: cover; }
    #description .star::selection,
    #description .star2::selection {
      color: transparent;
      background: none; }
  #description .note-box {
    line-height: 16px;
    display: inline;
    padding: 2px 5px 0px 5px;
    margin: 1px -9px 1px -5px; }
    #description .note-box .note {
      transition: all 0.7s 0.2s;
      border-radius: 4px;
      border: none;
      border: solid red 1px;
      border: dashed 1px #C3C3C3;
      -webkit-box-decoration-break: clone;
      display: inline;
      display: inline-block;
      padding: 3px 5px 3px 5px;
      margin: 1px 1px 1px 1px;
      top: 0px;
      position: relative; }
    #description .note-box li,
    #description .note-box .box {
      transition: all 1.6s 0.2s; }
    #description .note-box:hover .note {
      border: 1px dashed #4e4e4e; }
    #description .note-box:hover .note,
    #description .note-box:hover li,
    #description .note-box:hover .box {
      background: orange;
      background: gold;
      background-clip: border-box;
      transition: all 0.3s 0.0s;
      box-shadow: inset 70px 20px 134px -41px orange, inset -50px 40px 30px -40px gold, inset -70px 0px 74px -41px orange, inset 0px 0px 0px 400px gold; }

::selection0 {
  background: none;
  color: black;
  text-shadow: 2px 1px 5p5x orange, 2px -1px 5px gold, -2px 1px 5px gold, -2px -1px 5px gold, 2px 1px 5px gold, 2px 1px 5px gold, 2px 1px 5px gold, 5px 0px 5px gold, 0px 5px 5px gold, -5px 0px 5px gold, 0px -5px 5px gold, 3px 0px 4px orange, -3px 0px 4px orange; }

.one.blog5 .post-title,
.one.blog5 .post-meta,
.one.blog5 .post-content {
  width: 100%; }

.test {
  background: red !important; }

/*
  */
#description .box {
  color: #3c3c3c;
  border-color: #c3c3c3; }
  #description .box i {
    border-color: #c3c3c3; }
  #description .box:hover, #description .hover-rap .box, #description .hover-rap.mark-row .box {
    background: #e9e9e9;
    border-color: #d5d5d5; }
    #description .box:hover i, #description .hover-rap .box i, #description .hover-rap.mark-row .box i {
      border-color: #d5d5d5; }
  #description .box:active {
    border-color: tomato; }
    #description .box:active i {
      border-color: tomato; }

#description .mark-rap .box, #description .mark-row .box {
  color: #3c3c3c;
  background: #ffc2b7;
  border-color: #ffad9e; }
  #description .mark-rap .box i, #description .mark-row .box i {
    border-color: #ffad9e; }
  #description .mark-rap .box:hover, #description .mark-row .box:hover, #description .mark-rap .hover-rap .box, #description .hover-rap .mark-rap .box, #description .mark-row .hover-rap .box, #description .hover-rap .mark-row .box, #description .hover-rap.mark-row .box {
    color: #565656;
    background: #ffcfc7;
    border-color: #ffb1a3; }
    #description .mark-rap .box:hover i, #description .mark-row .box:hover i, #description .mark-rap .hover-rap .box i, #description .hover-rap .mark-rap .box i, #description .mark-row .hover-rap .box i, #description .hover-rap .mark-row .box i, #description .hover-rap.mark-row .box i {
      border-color: #ffb1a3; }
  #description .mark-rap .box:active, #description .mark-row .box:active {
    color: #505050;
    background: #ffa899;
    border-color: #ff8a75; }
    #description .mark-rap .box:active i, #description .mark-row .box:active i {
      border-color: #ff8a75; }

#description .mark-row .mark-rap .box {
  color: #3c3c3c;
  background: #ff937f;
  border-color: #ff8a75;
  color: #494949;
  background: #ff937f;
  border-color: #ff8a75; }
  #description .mark-row .mark-rap .box i {
    border-color: #ff8a75; }
  #description .mark-row .mark-rap .box i {
    border-color: #ff8a75; }
  #description .mark-row .mark-rap .box:hover, #description .mark-row .mark-rap .hover-rap .box, #description .hover-rap .mark-row .mark-rap .box, #description .hover-rap.mark-row .mark-rap .box {
    color: #565656;
    background: #ffa494;
    border-color: #ffb1a3; }
    #description .mark-row .mark-rap .box:hover i, #description .mark-row .mark-rap .hover-rap .box i, #description .hover-rap .mark-row .mark-rap .box i, #description .hover-rap.mark-row .mark-rap .box i {
      border-color: #ffb1a3; }
  #description .mark-row .mark-rap .box:active {
    color: #505050;
    background: #ff816b;
    border-color: #ff7056; }
    #description .mark-row .mark-rap .box:active i {
      border-color: #ff7056; }

#description .mark-rap .box.mark, #description .mark-row .box.mark, #description .mark-row .mark-rap .box.mark, #description .box.mark {
  color: white;
  background: #ff5638;
  border-color: #ff6c51; }
  #description .mark-rap .box.mark i, #description .mark-row .box.mark i, #description .mark-row .mark-rap .box.mark i, #description .box.mark i {
    border-color: #ff6c51; }
  #description .mark-row .mark-rap .box.mark:hover, #description .box.mark:hover, #description .mark-row .mark-rap .hover-rap .box.mark, #description .hover-rap .mark-row .mark-rap .box.mark, #description .hover-rap.mark-row .mark-rap .box.mark, #description .hover-rap .box.mark {
    color: white;
    background: #ff6c51;
    border-color: #ff816b; }
    #description .mark-row .mark-rap .box.mark:hover i, #description .box.mark:hover i, #description .mark-row .mark-rap .hover-rap .box.mark i, #description .hover-rap .mark-row .mark-rap .box.mark i, #description .hover-rap.mark-row .mark-rap .box.mark i, #description .hover-rap .box.mark i {
      border-color: #ff816b; }
  #description .mark-row .mark-rap .box.mark:active, #description .box.mark:active {
    color: white;
    background: #ff4d2e;
    border-color: tomato; }
    #description .mark-row .mark-rap .box.mark:active i, #description .box.mark:active i {
      border-color: tomato; }

/*# sourceMappingURL=theme2.css.map */
