.test{display: none;}
body {
  //  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  color: #676767;
  font-size: 12px;
  margin: 0;
  background: #222;
  background: gold url(../image/favicon.png) fixed;
  width: 100%;
//  position: absolute;
  height: 100%;
  min-height: 100vh;


  /*

  display: flex;
  padding: 0;
  margin: 0;
  background: #191919;
  color: #ffcb3b;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  flex-direction: column;
  align-items: baseline;

  */
}
//body,html{
//  background: red !important;
//  height: 400px !important;
//  width: 400px !important;
//}



#description {//блок описания
  background: white;
  padding: 30px 20px 40px;
  position: relative;
  min-height: 400px;
  min-width: 450px;
  max-width: 1400px;
  width: calc(90% - 100px);
  top: 0;
  margin: 0 auto;
box-shadow: 0 0 0 1px #c2c0b8 inset, 0 6px 0 -4px #fff, 0 6px 0 -3px #c2c0b8, 0 13px 0 -8px #fff, 0 13px 0 -7px #c2c0b8, 0 20px 0 -12px #fff, 0 20px 0 -11px #c2c0b8, 0 0 3px -1px #000;
  //  text-align: left;
  p {
    margin: 14px 0; //отступ как в старой версии
    i{
      font-style: normal;//убрать италик
    }
  }
}

//скролл
::-webkit-scrollbar {
  display: block;
  background: #191919;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  height: 20px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid #191919;
  border-bottom: none;
  border-top: none;
  border-radius: 10px;
  background: gold;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

::-webkit-scrollbar-thumb:active {
  background: #ff7700;
}
