.prew,.next{
//  background: red;
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 30px;
}
.next{
  left: calc(10% + 30px);
}
.test {
	display: block !important;
}
.text{
  border: none;
  border-top: tomato 3px solid;
  left: 10%;
  width: 60px;
  position: fixed;
  bottom: 21px;
//  background: red;
}
