@mixin box-coloring() {
    background: green;
    .qwe4>& {
        background: blue;
    }
}

.qwe {
    background: gold;
    .qwe2 {
        @include box-coloring();
        background: red;
        .qwe3 & {
            @include box-coloring();
            background: pink;
        }
    }
    /*
            color: red;

*/
}
